services:
  postgrest:
    image: postgrest/postgrest:latest
    container_name: postgrest_api
    restart: always
    environment:
      PGRST_DB_URI: postgres://admin:admin123@postgres_database:5432/marketplace
      PGRST_DB_SCHEMA: public
      PGRST_DB_ANON_ROLE: admin
      PGRST_DB_POOL: 100
      PGRST_MAX_ROWS: 1000
      PGRST_DB_AGGREGATES_ENABLED: true
    ports:
      - "3000:3000"
    networks:
      - test_network

networks:
  test_network:
    external: true
    name: test_network